/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "pie";

body {
  overflow-x: hidden;
  height: 9334px;
}

.pattern {
  background: url('../imgs/pattern.jpg');
}
.pattern2 {
  background: url('../imgs/pattern2.jpg');
}
.pattern3 {
  background: url('../imgs/pattern3.jpg');
}
.pattern4 {
  background: url('../imgs/pattern4.jpg');
}

.blank-area {
  width: 100%;
  height: 600px;
  margin: 0; padding: 0;
}

code {
  padding: 15px;
  display: block;
  
  pre {
    font-family: "Courier New";
    display: block;
    padding: 9.5px;
    margin: 0 0 10px;
    font-size: 13px;
    line-height: 20px;
    word-break: break-all;
    word-wrap: break-word;
    white-space: pre;
    white-space: pre-wrap;
    background-color: #F5F5F5;
    border: 1px solid #CCC;
    border: 1px solid rgba(0, 0, 0, 0.15);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
  }
}

.title {
  font-family: 'Lobster';
  text-align: center;
  color: #1C869C;
  font-size: 45px;
  position: relative;
}

.title-anim {
  @extend .blank-area;
  
  .main-title{
    top: 250px;
    
    &:after {
      content: "";
      display: block;
      width: 150px;
      border-bottom: 10px solid #cc8871;
      position: absolute;
      left: 50%;
      top: 150px;
      margin-left: -75px;
    }
  }
}

.bg-paralax {
  @extend .pattern;
  height: 500px;
  border-top: 10px solid #1C869C;
  border-bottom: 10px solid #1C869C;
}

.elts-anim {
  height: 500px;
  text-align: center;
  padding-top: 40px;
  border-bottom: 10px solid #1C869C;
  overflow: hidden;
  
  .elt {
    @include pie;
    @extend .pattern;
    width: 250px;
    height: 250px;
    border-radius: 250px;
    display: inline-block;
    border-top: 5px solid #1C869C;
    border-left: 100px solid #1C869C;
    border-bottom: 20px solid #1C869C;
  }
  
  h2 {
    @extend .main-title;
    top: 45px;
    color: #cc8871;
  }
}

.pin {
  width: 100%;  position: relative;
  overflow: hidden;
  border-bottom: 10px solid #CC8871;
  
  .shape {
    position: absolute;
    left: 50%;
    margin-top: -250px;
    margin-left: -250px;
    width: 500px;
    height: 500px;
    border-radius: 250px;
  }
  
  .layer1 {
    @extend .pattern;
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    overflow: hidden;
    
    .shape {
      @extend .pattern2;
      border-right: 5px solid #cc8871;
      border-left: 20px solid #cc8871;
      border-bottom: 100px solid #cc8871;
    }
  }
  
  .layer2 {
    @extend .pattern2;
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    
    .shape {
      @extend .pattern;
      border-right: 5px solid #1C869C;
      border-left: 20px solid #1C869C;
      border-bottom: 100px solid #1C869C;
    }
  }
}

.pin-letter {
  position: relative;
  width: 100%;
  
  .letter {
    color: #877529;
    position: absolute;
    left: 50%;
    top: 50%;
    font-size: 50px;
    text-transform: uppercase;
  }
}

.documentation {
  @extend .pattern3;
  position: relative;
  height: 600px;
  padding: 200px 50px 50px 50px;
  border-top: 10px solid #b3a362;
  border-bottom: 10px solid #CC8871;
  
  code {
    padding: 15px 0 0 0;
  }
}

.credits {
  height: 600px;
  padding-top: 150px;
  text-align: center;
  
  .title {
    height: 50px;
    padding: 50px;
    color: #9a543c;
    background: #fff;
    border-radius: 15px 15px 0 0;
    text-decoration: none;
    position: relative;
    
    &:after {
      content: "";
      display: block;
      position: absolute;
      bottom: -10px; left: 0;
      border-radius: 0 0 15px 15px;
      width: 0;
      height: 10px;
      background: #9a543c;
      
      -webkit-transition: all .5s ease-out;
      -moz-transition: all .5s ease-out;
      -o-transition: all .5s ease-out;
      -msie-transition: all .5s ease-out;
      transition: all .5s ease-out;
    }
    
    &:hover {
       &:after {
          width: 100%
       }
    }
  }
}
